<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <sessionState timeout="2" />
    </system.web>
    <connectionStrings>
      <add name="SqlConnection" connectionString="Data Source=IGOR-PC\SQLEXPRESS;Initial Catalog=Index_DB;Integrated Security=True"/>
    </connectionStrings>
    <appSettings>
      <add key="Languages" value="Name=English,Culture=en,UICulture=en-US,TextDirection=ltr,IsDefault=true;Name=Hebrew,Culture=he,UICulture=he-IL,TextDirection=rtl,IsDefault=false" />
      <add key="CreditCards" value="Visa,MasterCard,Diners,IsraCard,AmericanExpress"/>
    </appSettings>
</configuration>
